<h1>🏅STOOPID COACHING🏅</h1>
<br>
<form action="/answer" method="get" data-turbo="false">
  <label for="statement"> What's up?</label>
  <input name="statement" type="text" value="<%=params[:statement] %>" placeholder="Type here...">
  <input type="submit" value="Ask!">
</form>
